Individual-code/.ipynb_checkpoints/aarya-checkpoint.pdf
.ipynb_checkpoints/Discussion-checkpoint.ipynb
.ipynb_checkpoints/Introduction-checkpoint.ipynb
.ipynb_checkpoints/Introduction-checkpoint.ipynb
.ipynb_checkpoints/Results-checkpoint.ipynb
.ipynb_checkpoints/Methods-checkpoint.ipynb
Individual-code/.ipynb_checkpoints/assignment2-Andrea-checkpoint.ipynb
Individual-code/.ipynb_checkpoints/case_study_2-Ethan-checkpoint.html
Individual-code/.ipynb_checkpoints/methods-Preran-checkpoint.html
